body {
  background-color: blue;
  font-size: 45px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
  background-color: gray;
  height: 300px;
}
.grid_item {
  corner-radius: 5px;
  color: #ffffff;
  background-color: #1b284f;
  height: 100%;
}
.grid_item:hover {
  background-color: #293d78;
}
