/*page*/
@page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

* {
  page-break-inside: avoid;
}

/* general formatting */
body {
    background-color: #ffffff;
    font-family: 'Baloo Tammudu 2';
    font-size: 10px;
    padding: 20px;
}
.heading {
    border: 12px;
    border-style: none none none solid;
    border-color: #ffffff60;
}
.heading * {
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
}
h1 {
    background-color: #33575d;
    font-size: 20px;
}
h2 {
    background-color: #4c7278;
    font-size: 18px;
}
h3 {
    background-color: #88a4ad;
    font-size: 15px;
}
.icon {
    display: none
}


/* tables */
table, th, td {
    border: 2px solid black;
    font-weight: normal;
}
