
/* general formatting */
body {
    background-color: #ffffff;
    font-family: 'Baloo Tammudu 2';
    font-size: 25px;
    padding: 20px;
}
.heading {
    border: 12px;
    border-style: none none none solid;
    border-color: #ffffff60;
}
.heading * {
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
}
h1 {
    background-color: #33575d;
    font-size: 45px;
}
h2 {
    background-color: #4c7278;
    font-size: 35px;
}
h3 {
    background-color: #88a4ad;
    font-size: 30px;
}
.icon {
    display: none
}
h1 .icon {width: 35px;}
h2 .icon {width: 25px;}
h3 .icon {width: 20px;}
#table_of_contents * .icon{width: 20px;}

#table_of_contents {
    border: 12px solid #a1bbbf;
    background-color: #bcdadf;
    padding: 20px;
}
#table_of_contents * {
    text-decoration: None;
}
.H1 {
    color: #000000;
    font-size: 28px;
}
.H2 {
    color: #323232;
    font-size: 23px;
    padding-left: 20px;
}
.H3 {
    color: #424242;
    font-size: 21px;
    padding-left: 40px;
}

/* tables */
table, th, td {
    border: 2px solid black;
    font-weight: normal;
}

/* on hover */
.heading:hover {
    border: 16px;
    border-style: none none none solid;
    border-color: #ffffff90;
}
.heading:hover .icon {
    display: inline;
}
#table_of_contents *:hover .icon {
    display: inline;
}
