/* light and dark theme */
[data-theme="dark"] {
    --bg-color: #1b284f;
    --txt-color: #FFFFFF;
    --bt-bg-color: #81afdf;
    --bt-bg-color-hover: #6183a7;
    --nav-bar-color: #ffffff;
    --nav-bar-bg-color: #000027;
    --hone-bg-color: #1b284f;
    --htwo-bg-color: #223263;
    --hthree-bg-color: #283b75;
    --tof-bg-color: #283c76;
    --tof-border-color: #364463;
}
[data-theme="light"] {
    --bg-color: #caf0fa;
    --txt-color: #000000;
    --bt-bg-color: #00838f;
    --bt-bg-color-hover: #00a9b8;
    --nav-bar-color: #ffffff;
    --nav-bar-bg-color: #005662;
    --hone-bg-color: #00646d;
    --htwo-bg-color: #006b75;
    --hthree-bg-color: #006673;
    --tof-bg-color: #4fb3bf;
    --tof-border-color: #2e686f;
}



/* top navigation bar */
#top_nav_bar {
    overflow: hidden;
    background-color: var(--nav-bar-bg-color);
    position: sticky;
    top: 0px;
}
#top_nav_bar p {
    color: var(--nav-bar-color);
    padding: 20px;
    font-size: 45px;
    display: inline;
}
#top_nav_bar button {
    float: right;
    background-color: var(--bt-bg-color);
    border: None;
    border-radius: 5px;
    padding: 5px;
    height: 50px;
    display: inline;
    margin: 10px;
}


/* general formatting */
body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: 'Open Sans', sans-serif;;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}
#content {
    margin: 50px;
}
.heading {
    border: 12px;
    border-style: none none none solid;
    border-color: #ffffff60;
}
.heading * {
    color: var(--nav-bar-color);
    padding-left: 10px;
    text-decoration: none;
}
h1 {
    background-color: var(--hone-bg-color);
    font-size: 35px;
}
h2 {
    background-color: var(--htwo-bg-color);
    font-size: 30px;
}
h3 {
    background-color: var(--hthree-bg-color);
    font-size: 25px;
}
.icon {
    display: none
}
h1 .icon {width: 35px;}
h2 .icon {width: 25px;}
h3 .icon {width: 20px;}
#table_of_contents * .icon{width: 20px;}

#table_of_contents {
    border: 12px solid var(--tof-border-color);
    background-color: var(--tof-bg-color);
    padding: 20px;
}
#table_of_contents * {
    text-decoration: None;
    color: var(--txt-color);
}
.H1 {
    font-size: 28px;
}
.H2 {
    font-size: 23px;
    padding-left: 20px;
}
.H3 {
    font-size: 21px;
    padding-left: 40px;
}

/* tables */
th, td {
    border: 2px solid var(--txt-color);
    font-weight: normal;
}

/* on hover */
.heading:hover {
    border: 16px;
    border-style: none none none solid;
    border-color: #ffffff90;
}
.heading:hover .icon {
    display: inline;
}
#table_of_contents *:hover .icon {
    display: inline;
}
#top_nav_bar button:hover {
    background-color:  var(--bt-bg-color-hover);;
}

/* on clicked */
#top_nav_bar button:active {
    background-color: #797979;
}
